* {
	font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
	height: 0px;
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #313e3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.overlay {
	background: rgb(23, 73, 15);
	background: linear-gradient(
		180deg,
		rgba(23, 73, 15, 0.6867121848739496) 0%,
		rgba(18, 27, 22, 1) 50%,
		rgba(17, 23, 23, 1) 94%
	);
}

.overlay-sm {
	background: rgb(23, 73, 15);
	background: linear-gradient(
		180deg,
		rgba(23, 73, 15, 0.04805672268907568) 0%,
		rgba(18, 27, 22, 1) 93%,
		rgba(17, 23, 23, 1) 100%
	);
}
